.card{
    position: relative;
    height: 200px;
    width: 200px;
}
.card img{
    display: block;
    border: 5px rgb(0, 0, 0);
    border-style: solid;
    border-radius: 7px;
    height: 200px;
    width: 200px;
    background-color:rgba(0, 0, 0, 0.6);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}
.card .front{
    transform: rotateY(90deg);
    transition-delay: 0.3s;
    position: absolute;
    backface-visibility: hidden;
}
.flipped .front{
    transform: rotateY(0deg);
    transition-delay: 0.3s;
}
.card .back{
    transform-style: preserve-3d;
    transition: all ease-in 0.3s;
    transition-delay: 0.3s;
}
.flipped .back{
    transform: rotateY(90deg);
    transition-delay: 0.3s;
}